


.menu-btn-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    & .card {
        width: 170px;
        height: 145px;
        display: grid;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        border: solid 1px var(   --text-secondary);
        padding: 1rem;

        & img {
            margin: 0 auto;
        }
    }
}