.featured-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
 
    gap: 1rem;

    & img {
      
    }
}

   .product-from-new-arrival {
         background-color: #0e0d0d;
      }

.aside-right-featured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
       grid-template-rows: 1fr 1fr;

& div:nth-child(1) {
     display: grid;
    grid-column: span 2/3;
    position: relative;
   
    & img {
        justify-self: end;
    }

}

      & .product-from-new-arrival:nth-child(2) , .product-from-new-arrival:nth-child(3) {
        background: var(--light-gray);
background: radial-gradient(circle, rgb(42, 42, 42) 46%, var(--bg-dark) 100%);

         display: grid;
            justify-content: center;
            align-items: center;

position: relative;

}

}

.best-product-from-new-arrival {
    background-color: var(--bg-dark);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;

}

.description-of-the-products-feautered {
    max-width: 18rem;
    display: grid;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 2rem;
    left: 2rem;

    & > h3 {
        font-size:  3rem;
    }
}



