* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

h2 {
    font: var(--font-title-section);
}

a {
    text-decoration: none;
    font:  var(--font-secondary);
   
   
    
}

li {
       font:  var(--li-font);
}

section {
    padding-block: 2rem;
}

span {
     font:  var(--span-font);
}

strong {
     font: var(--strong-font);
     text-align: center;
}





