* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}
h1 {
    font: var(--font-card-text);
}

h2 {
    font: var(--font-title-section);
}

h3 {
   font: var(--font-h2-text); 
}

a {
    text-decoration: none;
    font:  var(--font-secondary);
   
   
    
}

li {
       font:  var(--li-font);
}

p {
     font:  var(--li-font);
}



span {
     font:  var(--span-font);
}

strong {
     font: var(--strong-font);
     text-align: center;
}

label {
     font:  var(--label-font);
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

section {
    display: grid;
    gap: 2rem;
}





