.hero {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0;
    

 
}



.products-hight-light {
    width: 100%;
    height: 100%;
    padding-block: 2rem;
    padding-left: 2rem;
        justify-self:center;
        align-self: center;

        & .list-of-product-high-light {
            background-color: black;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

           
        }

            .select-high-light-couresel {
        display: flex;
        gap: .5rem;
           transform: translateX(0) translateY(10rem);
           position: absolute;
    }

    
    }

    .menu-hero{
        display: grid;
        gap: .3rem;
           border-right: 1px solid #3d3d3d95 ;
           padding-block: 2rem;
           padding-right: 1rem;

        &  li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: .5rem;
       
            cursor: pointer;

            & button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }


