.hero {
    display: grid;
    grid-template-columns: 1fr 3fr;
    

 
}

.products-hight-light {
    width: 100%;
    height: 100%;
    padding-block: 2rem;
    padding-left: 2rem;
        justify-self:center;
        align-self: center;

        & .list-of-product-high-light {
            background-color: black;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            & button {
                color: #ffff;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateX(0rem) translateY(4rem);
                gap:.5rem;
                position: absolute;
                left: 2rem;
                

                      background-color: transparent;
        border: none;

        & a {
        color: #ffff;
        border-bottom: 1px solid #ffff;
        font-size:1.2rem ;
        }
                
                
            }
        }

            .select-high-light-couresel {
        display: flex;
        gap: .5rem;
           transform: translateX(0) translateY(10rem);
           position: absolute;
    }

    
    }

    .menu-hero{
        display: grid;
        gap: .3rem;
           border-right: 1px solid #3d3d3d95 ;
           padding-block: 2rem;
           padding-right: 1rem;

        &  li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: .5rem;
       
            cursor: pointer;
        }
    }


