.hero {
    display: grid;
    grid-template-columns: 1fr 3fr;
    

 
}

.products-hight-light {
       
    width: 892px;
    height: 344px;
        background-color: blue;
        justify-self: end;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .menu-hero{
        display: grid;
        gap: .3rem;

        &  li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: .5rem;
       
            cursor: pointer;
        }
    }