

.hyper-products-container {
    display: grid;
    grid-auto-flow: column;
    align-items: end;

  
}







.time-promotions {
    display: flex;
    gap: 1rem;
    & div {
        display: grid;
       
        & span{

        }

    
    }
}

.carousel-products {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow-x: auto;
}


.card-products {
    width: 16rem;
    height: 21rem;
    padding: .5rem;
    display: grid;
    border-radius: .5rem;
    
   
    justify-content: center;
    position: relative;
    background-color: var(--secondary);
    & .status-color-card {
        padding: .2rem .4rem;
        position: absolute;
        transform: translateY(1rem) translateX(.4rem);
        

        background-color: var(--secondary-2);
        width: 55px;
        border-radius: .2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .btn-add-to-cart {
     width: 100%;
     height: 3rem;
    
     position: absolute;
     bottom: 5rem;
     display: flex;
     justify-content: center;
     align-items: center;

     & button {
        width: 100%;
        height: 100%;
        border: none;
     background-color: black;
     color: var(--primary);
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
      border: none;
     }
    }
}

   .description-card {
         
        align-self: flex-end;
       

        & h1 {
            font-size: 1rem;

        }

        & p {
            color: var(--secondary-2);

            & span {
                color: var( --text-secondary);
                text-decoration:line-through;
            }
        }

        & .stars {
            display: flex;
            align-items: center;
            gap: .4rem;
        }
    }

    .btn-show-or-hidden {
        display: grid;
        gap: .5rem;
        position: absolute;
        right: 1rem;
        top: 1rem;

        
     & button {
      
        border: none;
    
     color: var(--primary);
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
      border: none;
      background-color: var(--primary);
      padding: .2rem;
      border-radius:50% ;
     }

    }

    .img-product-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
       
       
    }

