* { box-sizing: border-box; margin: 0; padding: 0; }
    body {
      font-family: Arial, sans-serif;
      background: var(--primary);
    }

    /* Layout */
 
    header {
        display: block !important;
        padding-inline: 1rem;
    }

.image-section {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px;
      background-color: var(--bg-image-section);
    }

    .image-box {
      width: 100%;
      max-width: 600px;
      height: auto;
    }

.image-box img {
      width: 100%;
      max-width: 600px;
      height: auto;
      object-fit: cover;
    }

    .form-section {
      width: 40rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px;
     
    }

    .form-card {
      width: 100%;
      padding: 24px;
    }

    /* Titles */
    .form-title {
      font-size: 28px;
      margin-bottom: 6px;
    }

    .form-subtitle {
      font-size: 14px;
      color: var(--text-light);
      margin-bottom: 18px;
    }

    /* Inputs */
    .form-group {
      margin-bottom: 14px;
    }

    .form-label {
      font-size: 12px;
      color: var(--text-light);
      margin-bottom: 6px;
      display: block;
    }

    .form-input {
      width: 100%;
      padding: 10px;
      border: 1px solid var(--border-dark);
      font-size: 14px;
    }

    /* Buttons */
    .btn-submit {
      width: 100%;
      padding: 12px;
      background: var(--button-secondary);
      color: var(--text-primary);
      border: none;
      cursor: pointer;
      font-size: 15px;
    }

    .divider {
      text-align: center;
      margin: 16px 0;
      font-size: 12px;
      color: #777;
    }

    .btn-google {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      background: #fff;
      cursor: pointer;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
    }

    .login-text {
      text-align: center;
      margin-top: 14px;
      font-size: 13px;
    }

    .login-text a {
      color: #666;
      text-decoration: none;
    }

    .long-in-forget-password-btn-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
     
    }

    /* Responsive */
    @media (max-width: 900px) {
      .container {
        flex-direction: column;
      }
      .form-section {
        width: 100%;
      }
    }

