nav {
    display: flex;
    justify-content: space-between;
    padding-block: 2rem 1rem;
    border-bottom: 1px solid #3d3d3d95;

    & .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

   & .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
       & a {
         padding-block: .5rem;
         color: #242323;
         border-bottom: solid 1px transparent;

       }

       & a:hover {
        border-bottom: solid 1px #242323;
       }
     
    }

    .search-wish-car-shopping {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      

        & input {
              width: 15rem;
            height: 2rem;
        }
    }
}