.top-header {
    height: 3rem;
       display: grid;
    grid-auto-flow: column;
    align-items: center;

}

.top-header-container {
     background-color: var(--bg-dark);
}

.promotions {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1rem;
    & p {
        color: var(--text-white);
        text-align: center;
        line-height: 3rem;
        font-size: 0.9rem;
        font-weight: 500;
    }

    & button {
        background-color: transparent;
        border: none;

        & a {
        color: var(--text-white);
         border-bottom: 1px solid var(--text-white);
        }

}
}

.select-language {
    display: flex;
    justify-self: end;

& select {
       justify-self: end;
       background-color: transparent;
       border: none;
       color: var(--text-white);
        & option {
            background-color: var(--button-primary);
            color: var(--text-white);

        }

}
    
}

