.component-span {
    display: flex;
    align-items: center;
    gap: 1rem;
  
  

    & .color {
        width: 20px;
        height: 40px;
        background-color: #DB4444;
        border-radius: .1rem;

        
    }

    & span {
        color: #DB4444;
    }
}
    .btn-view-all-the-products-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 2rem;
        border-bottom: solid 1px var(   --text-secondary);

        & button {
            
          
            background-color: var( --secondary-2);
            border: none;
            padding: 16px 48px;
            border-radius: 4px;
            color: var(--primary);
            cursor: pointer;
            

        }
    }

       .buttons-back-next {
        justify-self: end;

        & button {
            background-color: #F5F5F5;
            border: none;
            cursor: pointer;
            padding: .5rem;
            border-radius: 100%;
        }
    }

    .component-categoy {
        display: flex;
        align-items: center;
        gap: 1rem;
    }