.component-span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.component-span .color {
    width: 20px;
    height: 40px;
    background-color: var(--secondary-2);
    border-radius: .1rem;
}

.component-span span {
    color: var(--secondary-2);
}
.btn-view-all-the-products-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
}

.btn-view-all-the-products-content button {
    min-height: var(--btn-height);
    padding: var(--btn-padding-block) var(--btn-padding-inline);
    background-color: var(--secondary-2);
    border: none;
    border-radius: var(--btn-radius);
    color: var(--primary);
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.buttons-back-next {
    justify-self: end;
}

.buttons-back-next button {
    background-color: var(--secondary);
    border: none;
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

.component-categoy {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-green {
        min-height: var(--btn-height);
        padding: var(--btn-padding-block) var(--btn-padding-inline);
        background-color: var(--button-third);
        border: none;
        border-radius: var(--btn-radius);
        color: var(--text-third);
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s ease;
}

.dooble-carousel {
    display: grid;
    gap: 1rem;
}

.shop-now-btn {
    width: 8rem;
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-4rem);
    gap: .5rem;
    position: absolute;
    background-color: transparent;
    border: none;
}

.shop-now-btn a {
    color: var(--text-white);
    border-bottom: 1px solid var(--text-white);
}

.shop-now-btn a img {
    width: 1.2rem;
}

.btn-featured {
    color: var(--text-white);
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    background-color: transparent;
    border: none;
    min-height: var(--btn-height);
    padding: 0;
}

.btn-featured a {
    color: var(--text-white);
    font-size: 1.2rem;
}



