.component-span {
    display: flex;
    align-items: center;
    gap: 1rem;
  
  

    & .color {
        width: 20px;
        height: 40px;
        background-color: #DB4444;
        border-radius: .1rem;

        
    }

    & span {
        color: #DB4444;
    }
}
    .btn-view-all-the-products-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 2rem;
       

        & button {
            
          
            background-color: var( --secondary-2);
            border: none;
            padding: 16px 48px;
            border-radius: 4px;
            color: var(--primary);
            cursor: pointer;
            

        }
    }

       .buttons-back-next {
        justify-self: end;

        & button {
            background-color: #F5F5F5;
            border: none;
            cursor: pointer;
            padding: .5rem;
            border-radius: 100%;
        }
    }

    .component-categoy {
        display: flex;
        align-items: center;
        gap: 1rem;
    }


    
       
        & .btn-green {
              background-color: var(--button-third) !important;
        }


     .dooble-carousel {
        display: grid;
        gap: 1rem;
     }

     .shop-now-btn {
                color: #ffff;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateX(0rem) translateY(4rem);
                gap:.5rem;
                position: absolute;
                
                

                      background-color: transparent;
        border: none;

        & a {
        color: #ffff;
        border-bottom: 1px solid #ffff;
        font-size:1.2rem ;
        }
                
                
            }



        .btn-green-transform {
                
        }

           .btn-Shop-now-transform {
                transform: translateX(-21rem) translateY(5rem);
        }