:root {
    --background: #FFFFFF;
    --primary: #FFFFFF;
    --secondary: #F5F5F5;
    --text-primary: #FFFFFF;
    --text-secondary: #7D8184;
    --text-third: #000000;
    --secondary-2: #DB4444;
    --button-primary: #000000;
    --button-secondary: #DB4444;
    --button-01-hover: #E07575;
    --button-02-hover: #A0BCE0;

}