:root {
    --background: #FFFFFF;
    --primary: #FFFFFF;
    --secondary: #F5F5F5;
    --text-primary: #FFFFFF;
    --text-secondary: #7D8184;
    --text-third: #000000;
    --secondary-2: #DB4444;
    --button-primary: #000000;
    --button-secondary: #DB4444;
    --button-third: #00FF66;
    
    --button-01-hover: #E07575;
    --button-02-hover: #A0BCE0;

   /*Fontes*/

  --font-primary: 900 3rem 'Inter', sans-serif;
  --font-title-section: 700 2rem 'Inter', sans-serif;
  --font-secondary: 400 1rem 'Kedebideri', sans-serif;
  --span-font: 700 1rem 'Kedebideri', sans-serif;
  --strong-font: 900 2.3rem 'Kedebideri', sans-serif;
   --li-font: 400 1rem 'Kedebideri', sans-serif;
   --label-font: 500 1rem 'Kedebideri', sans-serif;
    --font-h2-text: 400 2rem 'Inter', sans-serif;
     --font-card-text: 600 1rem 'Inter', sans-serif;


}


